extends layout 
block content 
    #banner.page-header 
        .row 
            .col-md-6.col-sm-12 
                h1= title
        .row 
            .col-md-6.col-sm-12 
                p 
                    | wifi1ocer создан для безопасного и бесплатного использования 
                    | <br/><br/>
                    |В приложении используются данные только из открытых источников