extends layout
block content
 #banner.page-header 
    .row 
      .col-lg-6 
        h1 wifi1ocer
          small &nbsp; Найдем самые подходящие места c wifi для вас! 
    .row 
      .col-xs-12.col-sm-8 
        .row.list-group 
          .col-xs-12.list-group-item 
            h3 
              a(href="/location") Торговый центр "Арбат"
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty 
              span.badge.pull-right.badge-default 600m
            p.address Спуск Ермака 44
            p Сигнал сильный
            p 
              span.label.label-warning Горячие напитки
              | &nbsp;
              span.label.label-warning Еда
              | &nbsp;
              span.label.label-warning Бесплатный wifi 
              | &nbsp;
              span.label.label-warning Одежда и обувь
              | &nbsp;
              span.label.label-warning Акксесуары
              | &nbsp;
              span.label.label-warning Бытовая химия
              | &nbsp;
              span.label.label-warning Аптека
              | &nbsp;
    .row 
      .col-xs-12.col-sm-8 
        .row.list-group 
          .col-xs-12.list-group-item 
            h3 
              a(href="/location") Магазин "Анис"
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty 
                span.glyphicon.glyphicon-star-empty 
              span.badge.pull-right.badge-default 200m
            p.address Площадь Павлова 3
            p Сигнал средний
            p 
              span.label.label-warning Горячие напитки
              | &nbsp;
              span.label.label-warning Еда
              | &nbsp;
              span.label.label-warning Бесплатный wifi 
              | &nbsp;

    .row 
      .col-xs-12.col-sm-8 
        .row.list-group 
          .col-xs-12.list-group-item 
            h3 
              a(href="/location") Магазин "Перекресток"
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty 
                span.glyphicon.glyphicon-star-empty 
              span.badge.pull-right.badge-default 700m
            p.address Проспект Платовский 59А
            p Сигнал средний
            p 
              span.label.label-warning Горячие напитки
              | &nbsp;
              span.label.label-warning Еда
              | &nbsp;
              span.label.label-warning Бесплатный wifi 
              | &nbsp;
              span.label.label-warning все включено
              | &nbsp;
              