extends layout
block content
 #banner.page-header 
    .row 
      .col-lg-6 
        h1 wifi1ocer
          small &nbsp; Найдем самые подходящие места для вас! 
  .row 
    .col-xs-12.col-sm-8 
      p Список мест
    .col-xs-12.col-sm-4 
      p.lead wifi1ocer поможет вам отыскать подходящее место для работы! 